<!DOCTYPE html>
{% extends "layout.html" %}
<link rel="stylesheet" href="/static/css/layout.css">
{% block content %}
<div class="column side">
    <form action="/" method="POST">
        <label for="topics">Aihe: </label>
        <select id="topics" name="topics" onchange="this.form.submit()">
            {% for topic in topics %}
                {% if topic[0] == topic_id %}
                    <option value="{{ topic[0] }}" selected>{{ topic[1] }}</option>
                {% else %}
                    <option value="{{ topic[0] }}">{{ topic[1] }}</option>
                {% endif %}
            {% endfor %}
            {% if topic_id == 0 %}
                <option value="0" selected>Kaikki</option>
            {% else %}
                <option value="0">Kaikki</option>
            {% endif %}
        </select>
    </form>
    <br>
    <a class="normal" href="/new_thread">Uusi keskustelu</a>
    <br>
    <br>
    Haku:
    <br>
    <form action="/search" method="POST">
        <input type="checkbox" id="srchthrd" name="thrd" value="t">
        <label for="srchthrd"> Etsi aloituksista</label>
        <br>
        <input type="checkbox" id="srchmssg" name="mssg" value="m">
        <label for="srchmssg">Etsi vastauksista</label>
        <br>
        <input type="search" name="srch">
        <br>
        <input type="submit" value="Etsi">
        <input type="hidden" name="thrd" value="h">
        <input type="hidden" name="mssg" value="h">
    </form>
</div>
<div class="column middle">
    {% for thread in threads %}
    <p>
        <a class="normal" href="/thread/{{ thread[1] }}">{{ thread[0] }}</a>
    </p>
    <hr>
    {% endfor %}
</div>
{% endblock %}