<!DOCTYPE html>
<link rel="stylesheet" href="/static/css/layout.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chat24</title>
<header>
    <h1>Chat24</h1>
    <div class="topnav">
        <a class="nav" href="/">Etusivu</a>
        {% if session.user_id %}
        <a class="nav" href="/logout">Kirjaudu ulos</a>
        <a class="nav" href="/profile">Oma sivu</a>
        {% else %}
        <a class="nav" href="/login">Kirjaudu sisään</a>
        <a class="nav" href="/signup">Luo tunnus</a>
        {% endif %}
    </div>
</header>
{% block content %}{% endblock %}
